<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832936720267-ck4ns2coklfdsl8s3vod9u82ha3obbsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832936720267-ck4ns2coklfdsl8s3vod9u82ha3obbsd</string>
	<key>API_KEY</key>
	<string>AIzaSyALB6O7lwUYLX1ZMSvWK2BKxrQpz5eyn-U</string>
	<key>GCM_SENDER_ID</key>
	<string>832936720267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mappls.sdk.demo.flutter.mapplsFlutterSdk</string>
	<key>PROJECT_ID</key>
	<string>vit-bus-tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>vit-bus-tracking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832936720267:ios:de29c9308a6040d50d618e</string>
</dict>
</plist>